<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
            <p>
                Have fun!
            </p>
        </div>
    </div>
</div>

<!-- Script for homepage. -->
<script src="/vendor/requirejs/require.js" data-main="home"></script>
