<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Register</h1>

            <form class="form-horizontal" id="register-form" role="form">
                <div class="form-group">
                    <label for="register-form-username" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="register-form-username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="register-form-password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="register-form-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script for homepage. -->
<script src="/vendor/requirejs/require.js" data-main="register"></script>
